<div class="container">
  <!-- Menu -->
  <div *ngIf="employeeDetails" class="menu">
    <a *ngIf="employeeDetails.roles.includes('Employee')" [routerLink]="['/profile',employeeDetails.id]">Employee</a>
    <a *ngIf="employeeDetails.roles.includes('OrganizationAdmin')" [routerLink]="['/admin',employeeDetails.id]">Organization Admin</a>
    <a *ngIf="employeeDetails.roles.includes('DepartmentManager')" [routerLink]="['/department',employeeDetails.id]">Department Manager</a>
    <a *ngIf="employeeDetails.roles.includes('ProjectManager')" [routerLink]="['/project',employeeDetails.id]">Project Manager</a>
    <button (click)="logout()">Logout</button>
  </div>
  <div><strong>ID:</strong> {{ adminId }}</div>
  <p>Department Management Page</p>
  <div>
    <span>Notifications: {{ notificationCount }}</span>
  </div>
  
  <button (click)="toggleDepartmentMembers()">Department Members</button>
  <button (click)="showSkillsStatisticsPopup()">Show Statistics</button>
  <button (click)="toggleUnassignedDepartmentMembers()">Unassigned Members</button>
  <button (click)="toggleDeallocationProposals()">Deallocation Proposals</button>
  <button (click)="toggleAssignmentProposals()">Assignment Proposals</button>
  <button (click)="toggleManageSkills()">Manage Skills</button>
  <div *ngIf="showDepartmentMembers">
    <!-- List of department members -->
    <!-- Assuming you have a list of department members -->
    <ul>
      <h3>Department Members</h3>
      <li *ngFor="let employee of employees">
        <div class="employee-details">
          <p>"Employee:" {{ employee.name }}</p>
          <button (click)="removeMember(employee.id)">Remove Member</button>
          <p>Department: {{ employee.depId }}</p>
        </div>
        
        <div class="skill-cards-container">
          <!-- Display skills as cards -->
          <div class="skill-card" *ngFor="let skill of employee.skills">
            <div class="card-body">
              <h5 class="card-title">Skill ID: {{ skill.key }}</h5>
              <p class="card-text">Level: {{ skill.value[0] }}</p>
              <p class="card-text">Experience: {{ skill.value[1] }}</p>
              <p class="card-text">Endorsements:</p>
              <div *ngFor="let endorsement of skill.value.slice(2)" class="endorsement">
                <p class="card-text">{{ endorsement }}</p>
              </div>
            </div>
          </div>
        </div>
      <!-- Add more department members as needed -->
    </ul>
  </div>
  <div *ngIf="showNotDepartmentMembers">
    <!-- List of department members -->
    <!-- Assuming you have a list of department members -->
    <h3>Unassigned Department Employees</h3>
    <ul>
      
      <li *ngFor="let employee of employeesNotAssigned">
        <div class="employee-details">
          <p>"Employee:" {{ employee.name }}</p>
          <button (click)="addMember(employee.id)">Remove Member</button>
          <p>Department: {{ employee.depId }}</p>
        </div>
        
        <div class="skill-cards-container">
          <!-- Display skills as cards -->
          <div class="skill-card" *ngFor="let skill of employee.skills">
            <div class="card-body">
              <h5 class="card-title">Skill ID: {{ skill.key }}</h5>
              <p class="card-text">Level: {{ skill.value[0] }}</p>
              <p class="card-text">Experience: {{ skill.value[1] }}</p>
              <p class="card-text">Endorsements:</p>
              <div *ngFor="let endorsement of skill.value.slice(2)" class="endorsement">
                <p class="card-text">{{ endorsement }}</p>
              </div>
            </div>
          </div>
        </div>
   
      <!-- Add more department members as needed -->
    </ul>
   
  </div>
    <!-- Assignment Proposals Section -->
    <div *ngIf="showAssignmentProposals">
      <h3>Assignment Proposals</h3>
      <!-- Display assignment proposals as cards -->
      <div class="assignment-proposals">
        <div class="card" *ngFor="let proposal of assignmentProposals">
          <!-- Customize card layout to display proposal details -->
          <ng-container *ngIf="proposal.customRoles !== null">
          <h4>Employee:{{ proposal.userID }}</h4>
          <p>Project:{{ proposal.projectID }}</p>
          <p>Work Hours{{ proposal.workHours }}</p>
          <p>Reason:{{ proposal.comment }}</p>
          <p>Roles:</p>
          <ul>
            <li *ngFor="let roles of proposal.customRoles ">{{roles}}</li>
          </ul>
          <!-- Add more details as needed -->
          <label>Reason</label>
          <input placeholder="Comment" [(ngModel)]="comment" name="comment">
          <p>Confirm or deny</p>
          <select [(ngModel)]="type" name="confirmation">

            <option value="true">Confirm</option>
            <option value="false">Reject</option>
          </select>
          <button (click)="confirmProposal(proposal,type,comment)">Confirm</button>
        </ng-container>
        </div>
       
      </div>
    </div>
    <div *ngIf="showdeallocationProposals">
      <h3>Deallocation Proposals</h3>
      <!-- Display assignment proposals as cards -->
      <div class="assignment-proposals">
        <div class="card" *ngFor="let proposal of assignmentProposals">
          <!-- Customize card layout to display proposal details -->
          <ng-container *ngIf="proposal.workHours === null">
            <!-- Customize card layout to display proposal details -->
            <h4>Employee:{{ proposal.userID }}</h4>
            <p>Project:{{ proposal.projectID }}</p>
            <p>Reason:{{ proposal.comment }}</p>
            
            <!-- Add more details as needed -->
            <label>Reason</label>
            <input placeholder="Comment" [(ngModel)]="comment" name="comment">
            <p>Confirm or deny</p>
            <select [(ngModel)]="type" name="confirmation">
  
              <option value="true">Confirm</option>
              <option value="false">Reject</option>
            </select>
            <button (click)="confirmDeallocationProposal(proposal,type,comment)">Confirm</button>
          </ng-container>
         
        </div>
       
      </div>
    </div>
    <div *ngIf="showSkillsStatisticsSection">
      <p>This is the Skills Statistics section.</p>
      <!-- Your Skills Statistics content goes here --> <canvas id="totalCountPieChart" width="400" height="400"></canvas>
      
    <!-- Placeholder for level based pie charts -->
    <div class="levelPieCharts">
      <div class="levelPieChart" *ngFor="let skill of skillStatistics; let i = index">
        <h3>Skill: {{ skill.skillName }}</h3>
        <canvas id="level{{ i + 1 }}PieChart" width="400" height="400"></canvas>
      </div>
    </div>
   
    </div>
  <div *ngIf="showManageSkills">
    <!-- List of department members -->
    <!-- Assuming you have a list of department members -->
    <ul>
      <div>
        <input placeholder="Skill category" [(ngModel)]="skillCategoryy" name="skillName">
        <button (click)="addSkillCategory()">Add Skill Category</button>
        
      </div>
      <h3>Department Skills</h3>
      <label>Description</label>
      <input placeholder="Skill Name" [(ngModel)]="skillName" name="skillName">
     <textarea id="description" name="description" [(ngModel)]="skillDescription"></textarea>
     <label>Select Skill Category</label>
     <select [(ngModel)]="selectedSkillCategory" name="skillCategory">
      <option value="" disabled selected>Select Skill Category</option>
      <option *ngFor="let category of skillCategories" [ngValue]="category">{{ category.name }}</option>
    </select>
      <button (click)="addSkillToDepartment()">Add Skill to Department</button>
       <div class="skill-card-container">
      <div class="skill-card" *ngFor="let skill of skills">
        <h4>Skill name:{{ skill.name }}</h4>
        <p>Description:{{ skill.description }}</p>
        <p>Category:{{ skill.categoryID }}</p>
        <input placeholder="New Skill Name" [(ngModel)]="newskillName" name="newSkillName">
        <textarea placeholder="New Skill Description" [(ngModel)]="newskillDescription" name="newSkillDescription"></textarea>
        <select [(ngModel)]="selectedSkillCategoryUpdate" name="skillCategory">
          <option value="" disabled selected>Select Skill Category</option>
          <option *ngFor="let category of skillCategories" [ngValue]="category">{{ category.name }}</option>
        </select>
        <!-- Add more details as needed -->
        <button (click)="updateSkillDepartment(skill.id)">Update Skill for Department</button>
        <button (click)="deleteSkillDepartment(skill.id)">Delete Skill</button>
      </div>
    </div>
     
  
    
    
      <!-- Add more department members as needed -->
    </ul>
    <ul>
      <h3>Other Department Skills</h3>
      
     
      <div>
        <div >
      
        <h2>Skills</h2>
        <ul class="skill-card-container">
          <li  class="skill-card" *ngFor="let skill of skillsFromOtherDeps">
            <label>Id:{{ skill.id }}</label>
            <label>Name:{{ skill.name }}</label>
            <label>Name:{{ skill.description }}</label>
            <label>Name:{{  skill.categoryID }}</label>
           
            <button (click)="assignSkillToDepartment(skill.id)">Add Skill to Department</button>
          </li>
        </ul>
    </div>
  </div>
      
        
        
    
      <!-- Add more department members as needed -->
    </ul>
  </div>
</div>
