<!-- register.component.html -->

<div class="container">
  <div class="backgrounds">
    <div class="bg-main"></div>
    <div class="bg-1"></div>
    <div class="bg-2"></div>
  </div>
  <div class="banner">
    <h1>TeamFinder</h1><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <h3>Find your best team</h3>
  </div>
  <link
   href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Mooli&family=Mukta:wght@300;400;500;600;700&display=swap"
   rel="stylesheet"
 />
 <link
   rel="stylesheet"
   href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0"
 />
  <!-- <h2>Admin and Organization Signup</h2> -->
 
  <label>{{ orgDetails}}</label>
  <section class="register">
    
    <div class="register-wrapper">
      
      <div class="register-circle"></div>
      <div class="register-form-wrapper">
    
    <input type="text" [(ngModel)]="empName" placeholder="Name">
    <input type="text" [(ngModel)]="empEmail" placeholder="email">
    <input type="password" [(ngModel)]="empPassword" placeholder="password">
    <input type="text" [(ngModel)]="orgName" placeholder="orgName">
    <input type="text" [(ngModel)]="orgAddress" placeholder="orgAdrress">
    
    
    <label>{{ message}}</label>
    <button (click)="register()">Register</button><br/>
    <button (click)="login()">Go to Login Page</button>
    
        </div>
  <!-- Label to display the response message -->
</div>
</section>

  
  

  