<!-- HTML Template -->
<div class="container">
  <!-- Menu -->
  <div *ngIf="employeeDetails" class="menu">
    <a *ngIf="employeeDetails.roles.includes('Employee')" [routerLink]="['/profile',employeeDetails.id]">Employee</a>
    <a *ngIf="employeeDetails.roles.includes('OrganizationAdmin')" [routerLink]="['/admin',employeeDetails.id]">Organization Admin</a>
    <a *ngIf="employeeDetails.roles.includes('DepartmentManager')" [routerLink]="['/department',employeeDetails.id]">Department Manager</a>
    <a *ngIf="employeeDetails.roles.includes('ProjectManager')" [routerLink]="['/project',employeeDetails.id]">Project Manager</a>
    <button (click)="logout()">Logout</button>
  </div>
  <button (click)="toggleCreateProject()">Toggle Create Project</button>
  <button (click)="toggleProjectDetails()">Toggle Project Details</button>
  <button (click)="toggleAssignmentProposals()">Toggle Assignment Proposals</button>

<!-- Updated HTML -->
<div *ngIf="showCreateProject" class="create-project-section">
  <strong>ID:</strong> {{ adminId }}
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="projectName">
  </div>
  <div>
    <label for="prPeriod">Project Period:</label>
    <select id="prPeriod" [(ngModel)]="projectPeriod">
      <option value="Fixed">Fixed</option>
      <option value="Ongoing">Ongoing</option>
    </select>
  </div>
  <div class="input-group">
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate" [(ngModel)]="startDate">
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" name="endDate" [(ngModel)]="endDate">
  </div>
  <div>
    <label for="prStatus">Project Status:</label>
    <select id="prStatus" [(ngModel)]="projectStatus">
      <option value="Not Started">Not Started</option>
      <option value="Starting">Starting</option>
    </select>
  </div>
  <div>
    <label for="description">Description:</label>
    <input type="text" id="description" [(ngModel)]="projectDescription">
  </div>
  <div>
    <label for="tehStack">Tech Stack:</label>
    <input type="text" id="tehStack" [(ngModel)]="techStack">
  </div>
  <div>
    <label for="customRoles">Custom Roles:</label>
    <div class="input-group">
      <select id="roles" name="roles" [(ngModel)]="selectedRole">
        <option *ngFor="let role of roles" [value]="role.name">{{ role.name}}</option>
      </select>
      <input type="text" [(ngModel)]="roleNumber" placeholder="Value">
      <button (click)="addCustomRole()">Add Custom Role</button>
      <label>Added Roles:</label>
      <ul>
        <li *ngFor="let role of yourData.addedRoles">{{ role.key }} - {{ role.value }}</li>
      </ul>
    </div>
  </div>
  <div>
    <label for="skillRequirements">Skill Requirements:</label>
    <div class="input-group">
      <select id="skills" name="skills" [(ngModel)]="selectedSkill">
        <option *ngFor="let skill of skills" [value]="skill.id">{{ skill.name }}</option>
      </select>
      <div>
        <label for="level">Level:</label>
        <select id="level" [(ngModel)]="level">
          <option value="1">1 - Learns</option>
          <option value="2">2 - Knows</option>
          <option value="3">3 - Does</option>
          <option value="4">4 - Helps</option>
          <option value="5">5 - Teaches</option>
        </select>
      </div>
      
      <input type="text" [(ngModel)]="experience" placeholder="Experience">
      <button (click)="addSkillRequirement()">Add Skill Requirement</button>
      <label>Added Skills:</label>
      <ul>
        <li *ngFor="let skill of yourData.addedSkills">{{ skill.key }} - {{ skill.value }}</li>
      </ul>
    </div>
  </div>
  <button (click)="createProject()">Create Project</button>
</div>



<div *ngIf="showAssignmentProposals">
  <!-- Display assignment proposals -->
  <h3>Assignment Proposals</h3>
  <div class="assignment-proposals">
    <!-- Display assignment proposals as cards -->
    <div class="card" *ngFor="let proposal of assignmentProposals">
      <!-- Proposal details -->
      <h4>{{ proposal.userID }}</h4>
      <p>{{ proposal.projectID }}</p>
      <p>{{ proposal.workHours }}</p>
      <p>{{ proposal.comment }}</p>
      <button (click)="confirmProposal(proposal)">Confirm</button>
    </div>
  </div>
</div>


<div *ngIf="showProjectDetails">
  <!-- Project Details Section -->
  <div *ngIf="projectss" class="projects-grid">
    <h2>Projects</h2>
    <div class="project-item" *ngFor="let project of pagedProjects">
      <h3>Name: {{ project.id }}</h3>
      <h3>Name: {{ project.name }}</h3>
      <p>Project Period: {{ project.prPeriod }}</p>
      <p>Start Date: {{ project.startD }}</p>
      <p>End Date: {{ project.endD }}</p>
      <p>Project Status: {{ project.prStatus }}</p>
      <p>Description: {{ project.description }}</p>
      <button (click)="toggleProjectTeam(project.id)">Project Details View</button>
      <!-- Add Update and Delete buttons -->
      <div *ngIf="showProjectTeam">
        <!-- Display project team -->
        <h3>Project Team</h3>
        <button (click)="createTeam()">Create Team</button>
        <div class="project-team">
          <!-- Display project team members as cards -->
          <h2>Project Users</h2>
          <div class="card" *ngFor="let projectUser of projectUsers">
            <div class="card-body">

              <div class="card" *ngFor="let user of projectUser.users">
                <div class="card-body">
                  <h5 class="card-subtitle mb-2 text-muted">User ID: {{ user.key }}</h5>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let role of user.value.value">{{ role }}</li>
                  </ul>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <button (click)="openUpdateProjectPopup(project,skills,roles)">Manage Projects</button>
      <button (click)="openTeamFinderPopup(employeeDetails.orgId,adminId, project)">Open Team Finder</button>
    </div>
    <pagination-controls (pageChange)="onPageChange($event)" 
                         class="my-pagination" 
                         previousLabel="Previous"
                         nextLabel="Next">
    </pagination-controls>
  </div>
</div>

