<!-- profile.component.html -->/*
<div class="container">
  <!-- Menu -->
  <div *ngIf="employeeDetails" class="menu">
    <!-- Menu items -->
    <div>
      <span>Active project notifications: {{ notificationCount }}</span>
    </div>
    <a *ngIf="employeeDetails.roles.includes('Employee')" [routerLink]="['/profile',employeeDetails.id]">Employee</a>
    <a *ngIf="employeeDetails.roles.includes('OrganizationAdmin')" [routerLink]="['/admin',employeeDetails.id]">Organization Admin</a>
    <a *ngIf="employeeDetails.roles.includes('DepartmentManager')" [routerLink]="['/department',employeeDetails.id]">Department Manager</a>
    <a *ngIf="employeeDetails.roles.includes('ProjectManager')" [routerLink]="['/project',employeeDetails.id]">Project Manager</a>
    <button (click)="logout()">Logout</button>
  </div>
  <div class="profile-container">
      <!-- Profile details -->
      <h2>Profile</h2>
      <div class="profile-details" *ngIf="employeeDetails">
        <!-- Profile information -->
        <div><strong>ID:</strong> {{ employeeDetails.id }}</div>
        <div><strong>Name:</strong> {{ employeeDetails.name }}</div>
        <div><strong>Email:</strong> {{ employeeDetails.email }}</div>
        <div><strong>Organization ID:</strong> {{ employeeDetails.orgId }}</div>
        <div><strong>Department:</strong> {{ deptName }}</div>
        <div><strong>Roles:</strong> {{ employeeDetails.roles.join(', ') }}</div>
        <div><strong>Skills:</strong></div>
        <!-- Display current projects -->
        <button (click)="toggleCurrentProjects()">Toggle Current Projects</button>
        <button (click)="togglePastProjects()">Toggle Past Projects</button>
        <div *ngIf="showCurrentProjects">
          <h2>Current Projects</h2>
          <div class="project=grid">
            <div *ngFor="let project of currentProjects" class="project-box">
              <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p >Roles: {{ getCustomRoles(project)}}</p>
                <p >Technology Stack: {{ project.tehStack.join(', ') }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Display past projects -->
        <div *ngIf="showPastProjects">
          <h2>Past Projects</h2>
          <div class="project-grid">
            <div *ngFor="let project of projects" class="project-box">
              <h3>{{ project.name }}</h3>
              <p><strong>Roles:</strong> {{ getCustomRoles(project) }}</p>
              <p><strong>Technology Stack:</strong> {{ project.tehStack.join(', ') }}</p>
            </div>
          </div>
        </div>
        
        <!-- Skills section -->
        <div id="skillsDiv">
          <h2>Add Skills</h2>
          <div class="skill-grid">
            <div *ngFor="let skill of employeeDetails.skills" class="skill-box">
              <div>{{ getSkillName(skill) }}:Level{{ skill.key }}: Experience{{ skill.value }}</div>
              <button (click)="showAddEndorsementPopup(skill)" class="btn btn-primary">Add Endorsement</button>
              <button (click)="deleteSkill(skill.key)" class="btn btn-danger">Delete Skill</button>
            </div>
          </div>
          <div *ngIf="showAddEndorsementPopupEnable" class="modal fade show d-block">
            <div class="modal-dialog modal-dialog-centered">
              <h2>Add Endorsement for {{ selectedSkill.name }}</h2>
              <div class="modal-content popup-content">
                <select [(ngModel)]="endtype">
                  <option value="Training">Training</option>
                  <option value="Course">Course</option>
                  <option value="Project">Project</option>
                </select>
                <div *ngIf="endtype !== 'Project'">
                  <input type="text" placeholder="Title" [(ngModel)]="endorsementTitle">
                </div>
                <div *ngIf="endtype === 'Project'">
                  <select [(ngModel)]="endorsementTitle">
                    <option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</option>
                  </select>
                </div>
               
                <input type="text" placeholder="Description" [(ngModel)]="endorsementDescription">
                <select  [(ngModel)]="isLink">
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
                <button (click)="addEndorsement()">Add Endorsement</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <!-- Button to add skills -->
      <button (click)="viewSkills()">Add Skills</button>
      <!-- Skills section -->
      <div id="skillsDiv" *ngIf="showSkills">
        <h2>Add Skills</h2>
        <div class="skill-grid">
          <div *ngFor="let skill of skills" class="skill-box">
            <h3>{{ skill.name }}</h3>
            <p>{{ skill.description }}</p>
            <p>Author ID: {{ skill.authorID }}</p>
            <button (click)="showAddSkillPopup(skill)" class="btn btn-primary">Add Skill Details</button>
          </div>
        </div>
      </div>
      
      <!-- Add Skill Popup -->
      <div *ngIf="showAddSkillPopupEnable" class="modal fade show d-block">
        <div class="modal-dialog modal-dialog-centered">
          <h2>Add Skill Details for {{ selectedSkill.name }}</h2>
          <div class="modal-content popup-content">
            <input type="text" placeholder="Level" [(ngModel)]="skillLevel">
            <input type="text" placeholder="Experience (Years)" [(ngModel)]="skillExperience">
            <button (click)="addSkill()">Add Skill</button>
          </div>
        </div>
      </div>
  </div>
</div>
