<div class="statistics-popup">
    <h2>Skill Statistics</h2>
    <div *ngFor="let user of statistics | keyvalue">
      <h2>{{user.key}}</h2>
      <ul>
        <li>Total Users: {{user.value.TotalUsers}}</li>
        <li>Level 1: {{user.value.Level1}}</li>
        <li>Level 2: {{user.value.Level2}}</li>
        <li>Level 3: {{user.value.Level3}}</li>
        <li>Level 4: {{user.value.Level4}}</li>
        <li>Level 5: {{user.value.Level5}}</li>
      </ul>
    </div>
    

<canvas id="levelChart"></canvas>

<h2>Total count of people on each skill</h2>
<canvas id="skillChart"></canvas>
  </div>
  