<div class="container">
    <h2>Employee Signup</h2>
    <label>{{ orgDetails.name}}</label>

      <input type="text" [(ngModel)]="empName" placeholder="Name">
      <input type="text" [(ngModel)]="empEmail" placeholder="email">
      <input type="password" [(ngModel)]="empPassword" placeholder="password">
      
      <label>{{ message}}</label>
      <button (click)="register()">Register</button>
      <button (click)="login()">Go to Login Page</button>
      

    <!-- Label to display the response message -->
    
  </div>
  
