<div class="modal-background">
    <div class="modal-content">
      <h2>Update Project</h2>
  
      <!-- Add other input fields for other project details -->
     
      <div class="create-project-section">
        <strong>ID:</strong> {{ managerId}}
        <strong>ID:</strong> {{ updatedProject.id}}
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" [(ngModel)]="updatedProject.name">
        </div>
        <div>
          <label for="prPeriod">Project Period:</label>
          <select id="prPeriod" [(ngModel)]="updatedProject.prPeriod">
            <option value="Fixed">Fixed</option>
            <option value="Ongoing">Ongoing</option>
          </select>
        </div>
        <div class="input-group">
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" name="startDate" [(ngModel)]="updatedProject.startD">
          <label for="endDate">End Date:</label>
          <input type="date" id="endDate" name="endDate" [(ngModel)]="updatedProject.endD">
        </div>
        <div>
          <label for="prStatus">Project Status:</label>
          <select id="prStatus" [(ngModel)]="updatedProject.prStatus">
            <option value="Not Started">Not Started</option>
            <option value="Starting">Starting</option>
            <option value="In Progress"> In Progress,</option>
            <option value="Closing">Closing</option>
            <option value="Starting">Closed</option>
          </select>
        </div>
        <div>
          <label for="description">Description:</label>
          <input type="text" id="description" [(ngModel)]="updatedProject.description">
        </div>
        <div>
          <label for="tehStack">Tech Stack:</label>
          <input type="text" id="tehStack" [(ngModel)]="updatedProject.tehStack">
        </div>
        <div>
          <label for="customRoles">Custom Roles:</label>
          <div class="input-group">
            <select id="roles" name="roles" [(ngModel)]="selectedRole">
              <option *ngFor="let role of roles" [value]="role.name">{{ role.name}}</option>
            </select>
            <input type="text" [(ngModel)]="roleNumber" placeholder="Value">
            <button (click)="addCustomRole()">Add Custom Role</button>
            <label>Added Roles:</label>
            <ul>
              <li *ngFor="let role of yourData.addedRoles">{{ role.key }} - {{ role.value }}</li>
            </ul>
          </div>
        </div>
        <div>
          <label for="skillRequirements">Skill Requirements:</label>
          <div class="input-group">
            <select id="skills" name="skills" [(ngModel)]="selectedSkill">
              <option *ngFor="let skill of skills" [value]="skill.id">{{ skill.name }}</option>
            </select>
            <div>
              <label for="level">Level:</label>
              <select id="level" [(ngModel)]="level">
                <option value="1">1 - Learns</option>
                <option value="2">2 - Knows</option>
                <option value="3">3 - Does</option>
                <option value="4">4 - Helps</option>
                <option value="5">5 - Teaches</option>
              </select>
            </div>
            <button (click)="addSkillRequirement()">Add Skill Requirement</button>
            <label>Added Skills:</label>
            <ul>
              <li *ngFor="let skill of yourData.addedSkills">{{ skill.key }} - {{ skill.value }}</li>
            </ul>
          </div>
        </div>
        <button (click)="update()">Update</button>
        <button (click)="openConfirmationDialog()">Delete</button>

        <button (click)="close()">Close</button>
      </div>
    </div>
  </div>
  